[push]
	default = current
[user]
	name = Sakari Jokinen
	email = sakariij@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
[core]
	editor = emacs
	excludesfile = ~/.gitignore-global
[alias]
	up = pull --rebase
	graph = log --graph --oneline

